header{
    text-align: center;
}
#sidebar {
    height: 100%;
    width: 100%;
    background-color: #E7E9EB;
}

#pastsearch{
    overflow-y: scroll;
    overflow-x: hidden; 
    padding-top: 20px;
}
#state, #city-weather-div, #five-day-div{
    display: none;
}
#city-weather-div{
    background-color: aqua;
    border: white 1px solid;
    border-color: black;
}
.weather-results{
    border: black 1px solid;
}